.footer {
  background: #F9F9F9;
  border-top: 1px solid rgba(230, 230, 230, 0.99);
  position: absolute;
  width: 100%;
  bottom:0;
  footer {
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    max-width: @max_width;
    margin: 0 auto;
  }

  ul {
    float: left;
  }

  li {
    display: inline-block;
    margin-right: 30px;
  }

  &, & a {
    color: #6E717C;
  }

  .license {
    float: right;

    img {
      vertical-align: -5px;
      margin-left: 4px;
    }
  }
}
