.mobile-menu {
  display: none;
  ul {
    padding-left: 20px;
    margin-bottom: 40px;
    li a {
      color: #000000;
    }
  }
}

@media screen and (max-width: 1004px) {
  .nav {
    ul {
      display: none;
    }
    header {
      text-align: center;
      width: 100px;
    }
  }
  .banner .banner-logo{
    padding-right: 25%;
    margin-top: -100px;
    padding-bottom: 100px;
  }
  .banner .banner-info{
    width: 80%;
    margin: 0 auto;
    h1{
      font-size: 40px;
    }
  }
  .mobile-menu {
    display: block;
  }

  .page-main aside {
    display: block;
    position: absolute;
    background: #fff;
    top: 0px;
    left: -210px;
    width: 200px;
    // height: 100%;
    border-right: 1px solid #eee;
    box-shadow: 0px 0px 4px 0px #ddd;
    transition: left 1s;
  }

  .mobile-trigger {
    display: inline-block;
    top: 15px;
    transition: right 1s;
    position: absolute;
    z-index: 3;
    left: 0;
    li {
      background: #000;
      width: 30px;
      height: 6px;
      margin-bottom: 4px;
    }
  }

  .page-main aside.mobile-show {
    left: 0;
    transition: left 1s;
    .mobile-trigger {
      right: 15px;
      transition: right 1s;
      li {
        background: #000;
      }
    }
  }

  .page-main article {
    float: none;
    width: 100%;
    width: 88%;
    margin: 0 auto;
    padding:20px;
  }

}
