.nav {
  background: @bg_dark;

  header {
    overflow: hidden;
    padding: 30px 0 10px;
    max-width: @max_width;
    margin: 0 auto;
  }

  ul {
    height: 32px;
    float: right;
    line-height: 32px;
  }

  li {
    display: inline-block;
    margin-left: 40px;
  }

  a {
    display: inline-block;
    color: #6E717C;
    letter-spacing:0.5px;
    font-weight: 300;
    &:hover{
      color:#FFF;
      transition: 0.6s all;
    }
  }

  iframe {
    vertical-align: -4px;
  }
}

.nav-logo {
  margin: 0;
  display: inline-block;
}
