.toc {
  float: left;
  width: 220px;
  padding: 60px 0;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  border-right:1px solid #E6E6E6;

  dt {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }

  dd {
    margin-bottom: 30px;
  }

  ul li a {
    font-size: 14px;
    color: #585858;
    height: 30px;
    line-height: 30px;
    &:hover{
      color: #22ab28;
      transition: 0.3s color;

    }
  }

  li {
    list-style-type: none;
  }
}

