.toc {
  position: relative;
  left: 3px;
  float: left;
  width: 200px;
  padding: 30px 0;
  border-right: 1px solid #EFEFEF;

  dl {
    padding: 0 20px;
  }

  dt {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  dd {
    margin-bottom: 30px;
  }

  ul li a {
    font-size: 14px;
    color: #71747B;
    height: 40px;
    line-height: 40px;
    &:hover{
      color: #006BE8;
      transition: 0.3s all;
    }
  }

  li {
    list-style-type: none;
  }
}
