node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp

*-lock.json
*-lock.yaml
yarn.lock
.editorconfig
*clinic-flame*
*clinic-doctor*
.nyc_output/
test/fixtures/apps/app-ts/**/*.js
test/fixtures/apps/app-ts-esm/**/*.js
test/fixtures/apps/app-ts-type-check/**/*.js
test/fixtures/apps/app-ts-type-check/**/*.d.ts
test/fixtures/apps/app-ts/**/*.d.ts
test/fixtures/apps/app-ts-esm/**/*.d.ts

# site
site/dist
!site/public

.umi
.umi-production
.vercel
package-lock.json
.tshy*
dist
site/.dumi/
!pnpm-lock.yaml

!packages/egg/test/fixtures/apps/loader-plugin/node_modules
!packages/egg/test/fixtures/apps/app-ts/node_modules
!packages/egg/test/fixtures/apps/app-ts/node_modules/**/*.js
!packages/core/test/fixtures/egg-esm/node_modules
!packages/core/test/fixtures/plugin-duplicate/node_modules
!packages/core/test/fixtures/plugin/node_modules
!packages/core/test/fixtures/plugin-pnpm-scope/node_modules
!packages/core/test/fixtures/plugin-pkg-exports/node_modules
!packages/core/test/fixtures/service-override/node_modules
!packages/core/test/fixtures/scope-env/node_modules
!packages/core/test/fixtures/scope/node_modules
!packages/core/test/fixtures/plugin-optional-dependencies/node_modules
!packages/core/test/fixtures/plugin-path-package/node_modules
!packages/core/test/fixtures/env-disable/node_modules
!packages/core/test/fixtures/middleware-override/node_modules
!packages/core/test/fixtures/helper/node_modules
!packages/core/test/fixtures/extend/node_modules
!packages/core/test/fixtures/application/node_modules
!packages/core/test/fixtures/agent/node_modules
!packages/core/test/fixtures/plugin-pnpm/node_modules

# egg-bin
tools/egg-bin/test/fixtures/**/node_modules/
!tools/egg-bin/test/fixtures/demo-app/node_modules/aliyun-egg/node_modules/
!tools/egg-bin/test/fixtures/demo-app-esm/node_modules/

!tools/egg-bin/test/fixtures/ts/node_modules/aliyun-egg/node_modules/

!tools/egg-bin/test/fixtures/example/node_modules/
!tools/egg-bin/test/fixtures/example-ts-cluster/node_modules/
!tools/egg-bin/test/fixtures/egg-revert/node_modules/
!tools/egg-bin/test/fixtures/egg-require/node_modules/
!tools/egg-bin/test/fixtures/example-ts-simple/node_modules/
!tools/egg-bin/test/fixtures/test-demo-app/node_modules/
!tools/egg-bin/test/fixtures/test-demo-app-esm/node_modules/

!tools/egg-bin/test/fixtures/test-postinstall/node_modules/

!tools/egg-bin/test/fixtures/example-declarations/node_modules/
!tools/egg-bin/test/fixtures/custom-framework-app/node_modules/

*.tsbuildinfo