/node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp
docs/CONTRIBUTING.md
docs/node_modules
docs/README.md
docs/db.json
docs/source/release/index.md
docs/source/member_guide.md
docs/source/_data/versions.yml
docs/**/contributing.md
docs/public
docs/plugins.png

!test/fixtures/apps/loader-plugin/node_modules
