/node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp

*-lock.json
*-lock.yaml
yarn.lock
!test/fixtures/apps/loader-plugin/node_modules
.editorconfig
*clinic-flame*
*clinic-doctor*
.nyc_output/
test/fixtures/apps/app-ts/**/*.js
!test/fixtures/apps/app-ts/node_modules
!test/fixtures/apps/app-ts/node_modules/**/*.js
test/fixtures/apps/app-ts-esm/**/*.js
test/fixtures/apps/app-ts-type-check/**/*.js
test/fixtures/apps/app-ts-type-check/**/*.d.ts
test/fixtures/apps/app-ts/**/*.d.ts
test/fixtures/apps/app-ts-esm/**/*.d.ts

# site
site/dist
!site/public

.umi
.umi-production
.vercel
