sudo: false
os:
  - linux
  - osx
language: node_js
node_js:
  - '8'
  - '10'
  - '12'
install:
  - npm i npminstall && npminstall
script:
  - npm run ci
after_script:
  - npminstall codecov && codecov
  - test $TRAVIS_NODE_VERSION = 8 && travis_wait scripts/doc_travis.sh
env:
  global:
  - ENCRYPTION_LABEL: a62186272189
