node_modules
coverage/
test/fixtures/custom-framework-app/node_modules/

test/fixtures/demo-app/node_modules/aliyun-egg/
!test/fixtures/demo-app/node_modules/aliyun-egg/node_modules/
!test/fixtures/demo-app-esm/node_modules/

test/fixtures/ts/node_modules/aliyun-egg/
!test/fixtures/ts/node_modules/aliyun-egg/node_modules/

!test/fixtures/test-files-glob/**
!test/fixtures/example/node_modules/
!test/fixtures/example-ts-cluster/node_modules/
!test/fixtures/egg-revert/node_modules/
!test/fixtures/example-ts-error-stack/node_modules/
!test/fixtures/egg-require/node_modules/
!test/fixtures/example-ts-simple/node_modules/
!test/fixtures/test-files/node_modules/
!test/fixtures/test-demo-app/node_modules/
!test/fixtures/test-demo-app-esm/node_modules/

!test/fixtures/test-postinstall/node_modules/
!test/fixtures/test path with space/**/node_modules/

.mochawesome-reports
run
.tmp
.cache
*.log
package-lock.json
pnpm-lock.yaml
.nyc_output
yarn.lock
.c8_output
.idea

.eslintcache
dist
test/fixtures/example-declarations/typings/
!test/fixtures/example-declarations/node_modules
!test/fixtures/test path with space/example-declarations/node_modules/egg-ts-helper/dist/
.package-lock.json
.tshy*
.eslintcache
