body {
  font-family: 'Helvetica Neue', 'Helvetica', tahoma, 'Hiragino Sans GB',
    'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', Arial, sans-serif;
}

.__dumi-default-navbar-logo nav {
  display: flex;
  align-items: center;
}

.__dumi-default-layout-hero {
  display: none;
}

.__dumi-default-layout-hero + .__dumi-default-layout-content {
  margin-top: 0;
  max-width: none;
}

.ant-list-header {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
}

.ant-list-item a {
  color: rgba(255, 255, 255, 65%);
  font-weight: 500;
  text-decoration: none;
}
