.btn {
  display: inline-block;
  height: 38px;
  width: 120px;
  border: 1px solid #fff;
  border-radius: 19px;
  color: #fff;
  line-height: 38px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: normal;
  margin-right: 10px;
}

.btn-primary {
  background: #22ab28;
  border-color: #209425;
  &:hover{
    color: #fff;
    background: #42bd48;
    border-color: #0e5f12;
    transition: all 0.3s;
  }
}
.btn-secondary{
  border: 1px solid #22ab28;
  border-radius: 100px;
  color: #22ab28;
  &:hover{
    background: #22ab28;
    color: #fff;
    transition: all 0.6s;
  }
}
.index {
  text-align: center;
}

.index-bg-dark {
  background: @bg_light;
  color: #dbdde6;
}

.index-bg-light {
  background: @bg_light;
}

.block {
  padding: 100px 0;
}

.banner {
  max-width: @max_width;
  margin:100px auto;
  h1{
    font-size: 46px;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }
  .banner-info {
    width: 60%;
    h1 {
      text-align: left;
    }
    p{
      text-align: left;
    }
  }
  .banner-logo {
    float: right;
    padding-right: 13%;
    margin-top: -60px;
    img{
      width: 120%;
    }
  }

  .banner-button {
    padding-top: 50px;
  }
}

.version {
  background: #F6F8F8;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 1px 0px 0px rgba(225,225,225,0.50);
  span {
    padding: 0 30px;
    color: #71747B;
  }
  strong {
    color: #131926;
    font-weight: bold;
  }
}

.info {
  h3 {
    font-weight: 500;
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  ul {
    padding-top: 60px;
  }
  li {
    vertical-align: top;
    display: inline-block;
    width: 270px;
    padding: 0 20px;
    margin-bottom: 70px;
    font-size: 16px;
  }
  .info-img {
    height: 100px;
  }
}


.guide-code {
  font-size: 20px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: 200;
  color: #FFFFFF;
  text-align: left;
  padding: 40px 0;

  ul {
    background: #1F2532;
    max-width: 650px;
    margin: 0 auto;
    padding: 40px;
  }

  li {
    list-style: none;
    line-height: 60px;
  }

  strong {
    color: #d4d4d4;
    margin-right: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
