.page-title {
  padding: 20px 0 150px;
  background: @bg_dark;
  text-align: center;
  h1{
    text-shadow: 3px 4px 0px rgba(255,255,255,0.10);
    letter-spacing: 2px;
    font-size: 64px;
    color: #fff;
    font-weight: 500;
  }
  h2{
    font-size: 16px;
    color: #4E5668;
    padding-top: 5px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}

.page-main {
  margin: 0px auto 0px;
  max-width: @max_width;
  min-height: 200px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 2px;
  margin-top: 56px;
}

.page-main article {
  width: 800px;
  float: right;
  min-height: 400px;
  padding:50px 50px 50px 0px;
}
