name: CI

on:
  push:
    branches: [ master, 2.x, 1.x ]

  pull_request:
    branches: [ master, 2.x, 1.x ]

jobs:
  Job:
    name: Node.js
    uses: node-modules/github-actions/.github/workflows/node-test.yml@master
    with:
      os: 'ubuntu-latest, macos-latest, windows-latest'
      version: '14, 16, 18, 20, 22'
      install: 'npm i --no-package-lock --no-fund --force'
